<div class="container">
            <div class="form-group" style = "width:200px">
                <button class="btn btn-success form-control" *ngIf="!isShowForm" (click)="toggleForm()"> SHOW </button>
                <br>
                <div *ngIf="isShowForm" >
                <input class="form-control" placeholder="ENGLISH" [(ngModel)]="txten"> 
                <br>
                <input class="form-control" placeholder="VIETNAMESE" [(ngModel)]="txtvn"> 
                <br>
                <button class="btn btn-success form-control" (click)="addWord()"> ADD WORD </button>
                <br>
                <br>
                <button class="btn btn-danger form-control" (click)="toggleForm()"> CANCEL </button>
                </div>
            </div>
            <div *ngFor= "let word of words">
                <word-info [wordInfo]='word' ></word-info>
            </div>
</div>